/*estilos generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  && svg {
    height: 2rem;
    width: 2rem;
  }
}

body #light {
  background-color: #fafafa;
  transition: 0.5s ease-in-out;
}
body #dark {
  background-color: #001848;
  transition: 0.5s ease-in-out;
}

/*FIN DE ESTILOS GENERALES */

/*ESTILOS DE LA TABLA DE FAVORITOS */

.favTable{
  height: 90vh;
  overflow: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
  color: #001848;  
}

th,
td {
  border: 1px solid #001848;
  padding: 8px;
  text-align: left;
  && a {
    color: #0940a0;
  }
}
td button svg {
  width: 20px;
}
#dark td button svg {
  color: #fafafa;
}
.emptyFavs{
  color: #001848;
  display: grid;
  place-items: center;
  height: 90vh;
  && button{
    padding: 12px 24px;
    border: 1px solid #001848;
    &&:hover{
      transition: 0.5s;
      border: none;
      background-color: #001848;
      color: #fafafa;
    }
  }
 
}
#dark .emptyFavs{
  color: #d4d4d4;
  && button{
    color: #f3f3f3;
    border: 1px solid #f3f3f3;
    padding: 12px 24px;
    &&:hover{
      transition: 0.5s;
      border: none;
      background-color: #fafafa;
      color: #001848;
    }
 
  }
}

#dark table {
  color: #fafafa;
  && th,
  td {
    border: 1px solid #fafafa;
    && a {
      color: #d4d4d4;
    }
  }
}

/* FIN DE ESTILOS DE LA TABLA DE FAVORITOS */



/* ESTILOS DEL COMPONENTE DETAIL */

.detail{
  display: grid;
  place-items: center;

  && img{
    width: 60%;
    height: 70%;
  }
  && .detailBtnGroup{
    margin: 20px;
    && button{
      margin: 0 20px;
      border: 1px solid #001848;
      color: #001848;
      padding: 12px 24px;
      border-radius: 6px;
        &&:hover{
          background-color: #001848;
          color: #fafafa;
          transition: 0.5s;
        }
    }
  }
}
#dark .detail{
  color: #fafafa;
  && .detailBtnGroup button{
    border: 1px solid #fafafa;
    color: #fafafa;
     &&:hover{
      background-color: #fafafa;
      color: #001848;
     }
  }
}

/* FIN DE ESTILOS DEL COMPONENTE DETAIL */

/* ESTILOS COMPONENTE CONTACTO */

.contact{
  height: 90vh;
  display: grid;
  place-items: center;
  && h1{
    color: #001848;
    margin: 30px auto;
  }
}
#dark .contact h1{
  color: #fafafa;
}
.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  color: #001848;
  align-items: center;
  gap: 20px;
  border: 1px solid #001848;
  padding: 20px;
  background-color: #f3f3f3;
  && label {
    font-size: 1rem;
  }

  && #mensaje {
    background-color: transparent;
    width: 80%;
    &&:focus {
      outline: none;
    }
    padding: 10px;
  }

  && #nombre,
  #email {
    background-color: transparent;
    padding: 10px;
    border: none;
    width: 50%;
    border-bottom: 1px solid #001848;
    &&:focus {
      outline: none;
    }
  }

  && button {
    border: none;
    background-color: #001848;
    color: #fafafa;
    padding: 12px 24px;
    border-radius: 6px;
    &&:hover {
      background-color: #fafafa;
      color: #001848;
      border: 1px solid #001848;
      transition: 0.5s;
    }
  }
}
#dark .form {
  background-color: #001840;
  color: #fafafa;
  border: 1px solid #fafafa;
  transition: 0.5s;
  && input {
    border-color: #fafafa;
    color: #fafafa;
  }
  && button {
    border: 1px solid #fafafa;
  }
  && #mensaje {
    background-color: #001848;
    color: #fafafa;
  }
}



/* FIN DE ESTILOS DEL COMPONENTE CONTACTO */


/* ESTILOS COMPONENTE NAVBAR */

.navBar {
  gap: 10px;
  height: 10vh;
  display: flex;
  align-items: center;
  && ul {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    padding-left: 20px;
  }
}

#light .navBar {
  background-color: #fafafa;
  transition: 0.5s ease-in-out;
  && ul li {
    color: #001848;
  }
}
#dark .navBar {
  background-color: #001848;
  transition: 0.5s ease-in-out;
  && ul li {
    color: #fafafa;
  }
  && button svg {
    color: #fafafa;
  }
}

/* FIN DE ESTILOS DEL COMPONENTE NAVBAR */



/* ESTILOS DEL COMPONENTE CARD */

.card {
  height: 300px;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.5);
  && a img {
    border-radius: 50%;
  }
  && button {
    padding: 12px 24px;
    margin: 10px 0px 10px 0px;
    &&:hover {
      border: 0.5px solid black;
      transition: 0.5s;
      border: none;
      background-color: black;
      color: white;
    }
  }
  && img:hover {
    transition: 0.5s;
    transform: scale(1.1);
    border: 1px solid black;
  }
}


#light .card {
  background-color: #fafafa;
  color: #001848;
  transition: 0.5s ease-in-out;

  && p a {
    color: #001848;
    text-decoration: underline;
    font-style: italic;
  }
  && button {
    background-color: #fafafa;
    color: #001848;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    &&:hover {
      background-color: #001848;
      color: #fafafa;
      border: 0.5px solid rgba(0, 0, 0, 0.5);
    }
  }
}
#dark .card {
  background-color: #001860;
  color: #fafafa;
  border-color: #fafafa;
  transition: 0.5s ease-in-out;

  && p a {
    color: #fafafa;
    text-decoration: underline;
    font-style: italic;
  }
  && button {
    background-color: #001848;
    color: #fafafa;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    &&:hover {
      background-color: #fafafa;
      color: #001848;
      border: 0.5px solid rgba(0, 0, 0, 0.5);
    }
  }
}

/* FIN DE ESTILOS DEL COMPONENTE CARD */



/* ESTILOS DEL CONTENEDOR DE CARDS - HOME */

.cardsContainer {
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  && .hero {
    display: grid;
    place-items: center;
    width: 100%;
    height: 200px;
    font-size: 2em;
  }
}
#dark .cardsContainer .hero {
  color: #fafafa;
}
#light .cardsContainer .hero {
  color: #001848;
}


/* FIN DE ESTILOS DEL COMPONENTE HOME / CONTENEDOR DE CARDS */


/* ESTILOS DEL FOOTER */

.footer{
  height: 100px;
  display: grid;
  margin-top: 100px;
  place-items: center;
  background-color: #d4d4d4;
}
#dark .footer{
  background-color: #001860;
  color: #fafafa;
}

/* FIN DE ESTILOS DEL FOOTER */

/* medias queries */

@media (max-width:500px){
  .form{
    width: 90%;
  }
  .hero h1{
    font-size: 1.5rem;
  }
}
